<section>
    <h2 class="subtitle">Espacio Personal</h2>

    {{#if logged}}<p>Usted se ha logueado</p>
    <p><b>{{nombre}}</b>: - Dni: key <br> - domicilio: unico <br> - email(enviar cambios) <br></p>{{/if}}
    <br>
    <hr>
    <p>Acá Irian Los datos de uno mismo y sus gastos personales</p>
    <p>lleva y trae datos de la bbdd</p>

    {{#unless logged}}
    <br>
    <b>Ingrese para poder ver su información personal</b>
    <hr>
    <p>Ingrese con su nombre
    <form action="/ingresa" method="post">
        <label for="">nombre</label><input type="text" name="nombre">
    </form>
    </p>
    {{/unless}}
</section>