<section>
    <h2 class="subtitle">Espacio Servicios</h2>
    <p>Acá Habria un seguimiento del costo de los servicios mensualmente y quien pagó su parte</p>

    <p>Conecta con la base de datos de la casa y el individual de cada <b>id</b> que este en ese domicilio</p>

    <br>
    <hr>

    <p>Vea el desglose de los servicios</p>
    <br>
    <ul class="flex vertical">
        <li>Luz - </li>
        <li>Gas - </li>
        <li>Municipalidad - </li>
        <li>Agua - </li>
        <li>Internet - </li>
    </ul>

    <b>Ingrese para poder ver los servicios del domicilio</b>


</section>