<section>
    <h2 class="subtitle">Espacio de Gastos</h2>
    <p>Acá Irian los Gastos Generales de la casa</p>
    <p>Conectaria con base de datos del domicilio</p>
    <p>y otra base de datos de individuos</p>
</section>