<h1>Servicio de Gastos Personales</h1>
<p>Elija la opción que desea ver</p>
<ul class="vertical width-contenido">
    <li><a href="/">Home</a></li>
    <li><a href="/servicios">Servicios</a></li>
    <li><a href="/gastos">Gastos</a></li>
    <li><a href="/personal">Personal</a></li>

</ul>