<div class="contenedor">
    <div class="flex  vertical centrado">
        <h2 class="texto-centrado">Inicie Sesión</h2>
        <div class="contenedor flex vertical">
            <form class="centrado" action="/ingresa" method="post">
                <label for="">nombre</label><input name="nombre" type="text">
            </form>
        </div>
    </div>
</div>