.caja{
    width: 200px;
    height: 120px;
    border: 1px solid grey;
    margin: 2rem 0;
}
.contenedor{
    width: 25%;
    height: 25%;
}
.amarillo{
background-color: yellow;
}
.azul{
background-color: blue;
}
.rojo{
background-color: red;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}