<form method="POST" action="/admin/login">
    <div class="mb-3">
        <label for="dni" class="form-label">Número de Documento</label>
        <input type="text" name="dni" class="form-control" id="dni" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Ej: 12556678</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password">
    </div>

    <button type="submit" class="btn btn-primary">Ingresar</button>
</form>
<div style="width: 100%; display:flex; justify-content:center; align-items:center;"><a href="/admin/registro"
        class="centrado"><button type="button" class="btn btn-primary"><i
                class="fas fa-user-plus me-2"></i>Registro</button></a></div>
{{#if error}}
<p class="alert alert-danger py-3">Error de datos de ingreso o Inexistente</p>
{{/if}}
{{#if notloged}}
<p class="alert alert-danger py-3">Para ENTRAR por favor ingrese sus datos primero</p>
{{/if}}